.container {
    margin: 50% 0 50% 45%;
    border: 1px solid black;
    width: 170px;
    padding: 10px;
    background-color: lightblue;
}

.screen {
    background-color: lightcyan;
    border: 1px solid lightcyan;
    height: 35px;
    margin-bottom: 10px;
    font-size: 30px;
}

.row1,
.row2,
.row3,
.row4 {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.equals,
.clear {
    width: 65px;
}