.container {
    margin: 50% 0 50% 45%;
    border: 1px solid black;
    width: fit-content;
    padding: 10px;
    background-color: lightblue;
}

.screen {
    background-color: lightcyan;
    border: 1px solid lightcyan;
    height: 35px;
    margin-bottom: 10px;
}

.row1,
.row2,
.row3,
.row4 {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}