.board-container {
    display: flex;
    flex-direction: column;
    margin-left: 30%;
    margin-top: 5%;
    border: 1px solid red;
    width: fit-content;
    height: fit-content;
}

.row-1,
.row-2,
.row-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    width: 70px;
    height: 70px;
}