.content {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    display: flex;
    width: 350px;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    padding: 10px;
    border: 1px solid blue;
}

.form {
    display: flex;
    border: 1px solid grey;
    padding: 10px;
    width: fit-content;
    margin-top: 20px;
}

.form>div {
    margin-bottom: 15px;
}

.delete {
    background-color: green;
    color: white;
}

.checked {
    background-color: green;
    padding: 10px;
}

.unchecked {
    background-color: red;
    padding: 10px;
}